.menu--header-menu {
  width: 54%;
  float: right;
  margin-top: 2%;
  .menu {
    height: 1.9vw;
    display: flex;
    margin: 0;
    li {
      text-align: center;
      flex-basis: auto;
      flex-grow: 1;
      display: inline-block;
      background: url("../../sprite/headsprite.png") no-repeat;
      background-size: 1.9vw;
      margin: 0px 0px 0 10px;
      a {
        font-size: 0.9em;
        float: right;
        margin-left: 1.5vw;
      }
    }
    li:first-child {
      background-position: 0px 0px;
      height: 80%;
    }
    li:nth-child(2) {
      background-position: 0px -1.7vw;
      background-size: 1.8vw;
    }
    li:nth-child(3) {
      background-position: 0px -3.8vw;
    }
  }
}

.block-phone-number {
  float: right;
  display: inline-block;
  width: 45%;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #ffffff, #90acaa, #6A9393, #ffffff ) 47% 0%;
  img {
    float: left;
    height: 5vw;
    width: auto;
    padding: 2%;
    margin-left: 30%;
    border-bottom: 2px solid #2d6075;
  }
  .field--name-field-number-phone {
    font-family: 'RalewayRegular';
    font-size: 2vw;
    text-align: right;
    white-space: nowrap;
    color: #295f75;
  }
}