$container-gutter: 15px;
$container-width: calc(1200px + #{$container-gutter} * 2);
$col-gutter: $container-gutter;

.clearfix {
  @include clearfix;
}

.container {
  @include clearfix;

  display: block;
  width: auto;
  max-width: $container-width;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @include clearfix;

  display: block;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;
}

.col {
  display: block;
  float: left;
  padding-right: $col-gutter;
  padding-left: $col-gutter;
}

.region-header {
  display: flow-root;
  height: 140px;
  width: 60%;
  margin-left: 20%;
}

.region-primary-menu {
  background: linear-gradient(to top, #000, #333, #000);
  padding: 1px;
}

#block-logo {
  margin-top: 6%;
  width: 30%;
  float: left;
}

.menu--main {
  text-transform: uppercase;
  width: 42%;
  margin-left: 18%;
  .menu {
    display: flex;
    li {
      text-align: center;
      flex-basis: auto;
      flex-grow: 1;
      display: inline-block;
      a {
        color:white;
        font-size: 1vw;
      }
    }
  }
}

.field--type-link {
  font-size: 1.2em;
  margin: 1.5%;
  margin-left: 0;
  a {
    color: rgb(123, 123, 128);
  }
}

.region-content {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 3%;
  .views_slideshow_main {
    .views-field-field-welcom-area-content-image {
      float: left;
    }
    .views-field-body {
      margin-left: 42%;
      color: rgb(75, 91, 85);
    }
  }
  .views-slideshow-controls-bottom {
    a {
      height: 60px;
      width: 0.3vw;
      background-color: rgb(167, 2, 10);
      position: absolute;
      margin-top: -8em;
      text-indent: -9999px;
    }
    .views-slideshow-controls-text-previous-processed {
      a {
        margin-left: -0.3vw;
      }
    }
    .views-slideshow-controls-text-next-processed {
      a {
        margin-left: 23.85em;
        z-index: 100;
      }
    }
    .views-slideshow-controls-text-pause-processed {
      display: none;
    }
  }
}

.contextual-region {
  .view-display-id-page_1 {
    .feed-icons {
      a {
        display: none;
      }
    }
  }
}

.region-horizontal-sidebar {
  padding: 20px 0 20px 0;
  background: -webkit-linear-gradient(90deg, #ececec 0%, #f4f4f4 100%);
  .block-views {
    margin-left: 20%;
    width: 60%;
    .views-col {
      text-align: center;
      .field-content {
        padding:10px;
      }
      .views-field-field-title-in-horizontal-block {
        a {
          font-size: 1.4em;
          color: #B60C17;
        }
      }
      .views-field-field-link-in-horizontal-block {
        a {
          background-color: #B60C17;
          color: #fff;
          border-radius: 8px;
          padding: 10px 20px 10px 20px;
        }
      }
    }
  }
}