$container-gutter: 15px;
$container-width: calc(1200px + #{$container-gutter} * 2);
$col-gutter: $container-gutter;

.clearfix {
  @include clearfix;
}

.container {
  @include clearfix;

  display: block;
  width: auto;
  max-width: $container-width;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @include clearfix;

  display: block;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;
}

.col {
  display: block;
  float: left;
  padding-right: $col-gutter;
  padding-left: $col-gutter;
}

.region-header {                                                //@todo regions
  display: flow-root;
  height: 140px;
  width: 60%;
  margin-left: 20%;
}

.region-primary-menu {                                            //@todo regions
  background: linear-gradient(to top, #000, #333, #000);
  padding: 1px;
}

.feed-icon {
    display: none;
}

.menu--main {
  text-transform: uppercase;
  width: 42%;
  margin-left: 18%;
  .menu {
    display: flex;
    li {
      text-align: center;
      flex-basis: auto;
      flex-grow: 1;
      display: inline-block;
      a {
        color:white;
        font-size: 1vw;
      }
    }
  }
}

.field--type-link {
  font-size: 1.2em;
  margin: 1.5%;
  margin-left: 0;
  a {
    color: rgb(123, 123, 128);
  }
}

.region-content {                                 //@todo regions
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 3%;
}

.views_slideshow_main {
  .views-field-field-welcom-area-content-image {
    float: left;
  }
  .views-field-body {
    margin-left: 42%;
    color: rgb(75, 91, 85);
  }
}

.views-slideshow-controls-bottom {
  a {
    height: 60px;
    width: 0.3vw;
    background-color: rgb(167, 2, 10);
    position: absolute;
    margin-top: -8em;
    text-indent: -9999px;
  }
  .views-slideshow-controls-text-previous-processed {
    a {
      margin-left: -0.3vw;
    }
  }
  .views-slideshow-controls-text-next-processed {
    a {
      margin-left: 23.85em;
      z-index: 100;
    }
  }
  .views-slideshow-controls-text-pause-processed {
    display: none;
  }
}

.contextual-region {                                          //@todo regions xz
  .view-display-id-page_1 {
    .feed-icons {
      a {
        display: none;
      }
    }
  }
}

.region-horizontal-sidebar {                                            //@todo regions
  padding: 20px 20% 20px 20%;
  background: -webkit-linear-gradient(90deg, #ececec 0%, #f4f4f4 100%);
}

.block-views-blockhorizontal-sidebar-block-1 {
  .views-col {
    text-align: center;
    .field-content {
      padding:10px;
    }
    .views-field-field-title-in-horizontal-block {
      a {
        font-size: 1.5vw;
        color: #B60C17;
      }
    }
    .views-field-body {
      overflow: hidden;
      height: 5.5em;
    }
    .views-field-field-link-in-horizontal-block {
      a {
        background-color: #B60C17;
        color: #fff;
        border-radius: 8px;
        padding: 10px 35px 10px 35px;
      }
    }
  }
}

.region-services {                                                //@todo regions
  padding: 10px 20% 20px 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgb(123, 123, 128);
}

.menu--menu-services-column-1 {
  color: #B60C17;
  .menu {
    width: 89%;
    margin: 0;
    .menu-item {
      border-bottom: 1px #cbcbcb solid;
      height: 33px;
      padding-top: 6px;
      display: table;
      width: 100%;
      a {
        color: #676767;
      }
      a:hover {
        color: #B60C17;
      }
    }
    li:before {
      color: #B60C17;
      content: "▸";
      padding-right: 5px;
    }
  }
  .menu-item:last-child {
    border-bottom: none;
  }
}
.menu--menu-services-column-2 {
  @extend .menu--menu-services-column-1;
}
.menu--menu-services-column-3 {
  @extend .menu--menu-services-column-1;
}

#block-services {                                             //@todo class
  grid-column: 1 / 4;
}

.region-about-us-area {                                       //@todo regions
  color: white;
  padding: 3% 20% 0 20%;
  background: url("../../src/img/Layer 2342.jpg") no-repeat;
  display: inline-block;
  .block-block-content {
    width: 50%;
    float: right;
    line-height: 28px;
    .field--name-body {
      overflow: hidden;
      height: 10em
    }
    .field--name-field-link-basic-block {
      line-height: 8em;
      a {
        background-color: #B60C17;
        color: #fff;
        border-radius: 8px;
        padding: 10px 20px 10px 20px;
      }
    }
  }
}

.region-secondary-menu {
  .field--type-link {
    text-align: center;
    font-size: 23px;
  }
}

.menu--lower-menu {
  .menu {
    height: 70px;
    padding-top: 21px;
    display: flex;
    margin: 0;
    padding-right: 20%;
    padding-left: 20%;
    background-color: #292929;
    li {
      text-align: center;
      flex-basis: auto;
      flex-grow: 1;
      display: inline-block;
      background: url("../../sprite/lowersprite.png") no-repeat;
      background-size: 1.9vw;
      margin-left: 1vw;
      height: 2vw;
      a {
        color: #fff;
        font-size: 0.7em;
        margin-left: 1.5vw;
      }
    }
    li:first-child {
      background-position: 0px 0px;
    }
    li:nth-child(2) {
      background-position: 0px -2vw;
      background-size: 1.8vw;
    }
    li:nth-child(3) {
      background-position: 0px -4.8vw;
    }
    li:nth-child(4) {
      background-position: 0px -7vw;
    }
  }
}

.block--form-header {
  position: absolute;
  width: 18vw;
  margin: -38em 0 0 61.2vw;
  z-index: 10;
  background-color: #e33;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.9);
  .field--name-field-title-1 {
    background: url("../../src/img/shield.png") no-repeat;
    background-size: 2.3vw;
    color: white;
    font-size: 0.97vw;
    background-color: #B60C17;
    background-position: 5% 50%;
    padding: 3.7% 3.7% 3.7% 21%;
  }
  .field--name-field-title-2 {
    background-color: #B60C17;
    color: white;
    font-size: 0.84vw;
    padding: 0 3.7% 3.7% 3.7%;
    border-bottom: #000 5px solid;
  }
  .field--name-field-selection {
    font-size: 0.8vw;
    padding: 3.7% 3.7% 22% 3.7%;
    background: -webkit-linear-gradient(90deg, #e0e0e0 50%, #d4d4d4 78%);
  }
  .field--name-field-select-one {
    position: absolute;
    margin-top: -3.3em;
    margin-left: 3.7%;
    background-color: #222;
    padding: 2% 5% 1% 5%;
    color: white;
    font-size: 0.9vw;
  }
  .field--name-field-select-one:after {
    content:" ";
    width: 15em;
    background-color: #fff;
    height: 30%;
    position: absolute;
    z-index: 0;
    margin-top: -1em;
    margin-left: 60%;
  }
  .field--name-field-select-two {
    @extend .field--name-field-select-one;
    margin-left: 83%;
    background-color: #B60C17;
  }
  .field--name-field-select-two:after {
    all: initial;
  }
  h4 {
    font-size: 0.9vw;
    margin-bottom: 0;
  }
  .field--name-field-options {
    padding: 3.7%;
    font-size: 0.9vw;
    line-height: 2em;
    background: linear-gradient(to top, #d8d8d8, #ffffff, #f2f2f2);
  }
  button {
    border: none;
    background: #B60C17;
    color: white;
    margin: 8px;
    width: 93%;
    height: 40px;
    font-size: 200%;
  }
}

.radio {
  position: absolute;
  opacity: 0;
}

.radio + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.radio + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1vw;
  height: 1.1vw;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1vw;
  height: 1.1vw;
  border-radius: 50%;
  background: #B60C17;
  opacity: 0;
}
.radio:checked + label:after {
  opacity: 1;
}